<?xml version="1.0" encoding="utf-8"?>

<PropertyList>

  <!-- If you put the dialog file in the Aircraft/aircraftname/gui/dialog the dialog box is loaded -->
  <name>config</name>
  <modal type="bool">false</modal>
  <layout>vbox</layout>

  <group>
    <layout>hbox</layout>
    <empty>
      <stretch>1</stretch>
    </empty>

    <text>
      <label>Preset Loadouts</label>
    </text>

    <empty>
      <stretch>1</stretch>
    </empty>

    <button>
      <pref-width>16</pref-width>
      <pref-height>16</pref-height>
      <legend></legend>

      <default>1</default>
      <keynum>27</keynum>
      <border>2</border>
      <binding>
        <command>dialog-close</command>
      </binding>
      <binding>
        <command>dialog-apply</command>
      </binding>
    </button>
  </group>

  <text>
    <label>Select Payload Config bellow</label>
  </text>

  <button>
    <legend>No load__________________________</legend>
    <binding>
      <command>nasal</command>
      <script>fastload.NoLoad()</script>
    </binding>
  </button>

  <text>
    <label>Air to Air</label>
  </text>

  <button>
    <legend>AA1 (2xR-73, 2xR-77, 1xPTB-490)___</legend>
    <binding>
      <command>nasal</command>
      <script>fastload.Air2Air1()</script>
    </binding>
  </button>

  <button>
    <legend>AA2 (2xR-77, 2xPTB-490)__________</legend>
    <binding>
      <command>nasal</command>
      <script>fastload.Air2Air2()</script>
    </binding>
  </button>

  <button>
    <legend>AA3 (2xR-60, 2xR-27, 1xPTB-490)___</legend>
    <binding>
      <command>nasal</command>
      <script>fastload.Air2Air3()</script>
    </binding>
  </button>

  <text>
    <label>Air to Ground</label>
  </text>

  <button>
    <legend>AG1 (2xR-73, 2xUB-32, 1xPTB-490)__</legend>
    <binding>
      <command>nasal</command>
      <script>fastload.Air2Ground1()</script>
    </binding>
  </button>

  <button>
    <legend>AG2 (2xR-73, 2xFAB-250, 1xPTB-490)</legend>
    <binding>
      <command>nasal</command>
      <script>fastload.Air2Ground2()</script>
    </binding>
  </button>

  <button>
    <legend>AG3 (2xUB-32, 2xPTB-490)_________</legend>
    <binding>
      <command>nasal</command>
      <script>fastload.Air2Ground3()</script>
    </binding>
  </button>

  <button>
    <legend>AG4 (2xFAB-250, 2xPTB-490)_______</legend>
    <binding>
      <command>nasal</command>
      <script>fastload.Air2Ground4()</script>
    </binding>
  </button>

  <button>
    <legend>AG5 (2xFAB-500, 2xPTB-490)_______</legend>
    <binding>
      <command>nasal</command>
      <script>fastload.Air2Ground5()</script>
    </binding>
  </button>
  
  <button>
    <legend>AG6 (4xUB-32, 1xPTB-490)_________</legend>
    <binding>
      <command>nasal</command>
      <script>fastload.Air2Ground6()</script>
    </binding>
  </button>

  <button>
    <legend>AG7 (2xUB-32, 2xFAB-250)_________</legend>
    <binding>
      <command>nasal</command>
      <script>fastload.Air2Ground7()</script>
    </binding>
  </button>

</PropertyList>
